<div class="reservacion-wrapper">


  <div class="reservacion-container">
    <h2 class="titulo">🌟 Reserva tu Aventura</h2>
    <p class="subtitulo">Asegura tu lugar y vive una experiencia inolvidable.</p>

    <form [formGroup]="reservaForm" (ngSubmit)="enviarReservacion()">
      <label>📛 Nombre:</label>
      <input type="text" formControlName="nombre" class="input" required>

      <label>📧 Correo:</label>
      <input type="email" formControlName="correo" class="input" required>

      <label>📞 Teléfono:</label>
      <input type="tel" formControlName="telefono" class="input" required>

      <label>📅 Fecha de Reservación:</label>
      <input type="date" formControlName="fecha" class="input" required>

      <label>👥 Número de Personas:</label>
      <input type="number" formControlName="personas" min="1" max="20" class="input" required>

      <label>📝 Mensaje Adicional:</label>
      <textarea formControlName="mensaje" class="input"></textarea>

      <button type="submit" class="btn" [disabled]="reservaForm.invalid">🔥 Reservar Ahora</button>
    </form>

    <p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>
  </div>
</div>
