.inicio-container {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation: fadeIn 2s ease-in-out;
}


.logoH {
  padding: 10;
  display: inline-block;
  width: 850px;
  height: 850px;
  background-image: url('../../assets/images/logoH.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: px;
  animation: pulse 2s infinite;
}

@media (max-width: 768px) {
  .logoH {
    width: 250px;
    height: 250px;
  }
}

.actividad1, .actividad2, .actividad3 {
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.actividad1:hover, .actividad2:hover, .actividad3:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.actividad1 {
  background-image: url('../../assets/images/actividades/bien.jpg');
}

.actividad2 {
  background-image: url('../../assets/images/principal.jpg');
}

.actividad3 {
  background-image: url('../../assets/images/actividades/reservacion.jpg');
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

a:hover {
  animation: wiggle 0.3s ease-in-out;
}
/* 🔥 Sección Video Destacado */
.video-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-mas {
  background-color: #FF9002;
  color: white;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 5px 15px rgba(255, 144, 2, 0.5);
}

.btn-mas:hover {
  background-color: #d67c00;
  transform: scale(1.05);
}

/* 🎯 Botones de Exploración */
.btn-explora, .btn-reserva {
  background: linear-gradient(to right, #FF9002, #d67c00);
  color: #FFFAF0;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 5px 15px rgba(255, 144, 2, 0.5);
  cursor: pointer;
}

.btn-explora:hover, .btn-reserva:hover {
  background: linear-gradient(to right, #402F14, #5a9219);
  transform: scale(1.05);
}
