.reservaciones-container {
  max-width: 900px;
  margin: 80px auto;
  padding: 3rem;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Ícono de confirmación */
.icono-confirmacion img {
  width: 120px;
  margin-bottom: 20px;
}

/* Título */
.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #FF9002;
  margin-bottom: 15px;
}

/* Detalles de la reservación */
.reserva-detalle {
  background: #FFFAF0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
}

.info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #402F14;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.qr-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #402F14;
  margin-bottom: 10px;
}

.qr-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #402F14;
  font-weight: bold;
}

.qr-code {
  width: 200px !important;
  height: 200px !important;
}


/* Botón */
.boton-container .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #FF9002;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.boton-container .btn:hover {
  background: #d67c00;
  transform: scale(1.05);
}
