<div class="actividades-container">
  <h1 class="titulo">⚡ Nuestras Actividades</h1>
  <p class="subtitulo">Explora nuestras experiencias extremas y vive la adrenalina.</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
    <!-- Rafting Extremo -->
    <div class="actividad actividad-rafting">
      <div class="info">
        <h2>Tirolesa</h2>
        <p>Siente la adrenalina de viajar a gran velocidad de una montaña a otra.</p>
      </div>
    </div>

    <!-- Parapente -->
    <div class="actividad actividad-parapente">
      <div class="info">
        <h2>Zip-Bike</h2>
        <p>Pedalea sobre paisajes impresionantes.</p>
      </div>
    </div>

    <!-- Escalada -->
    <div class="actividad actividad-escalada">
      <div class="info">
        <h2>Senderismo</h2>
        <p>Desafía tu resistencia caminando entre montañas.</p>
      </div>
    </div>
  </div>
</div>
